@import 'abstracts/mixins';
@import 'abstracts/variables';

footer {
  width: 100%;
  margin: auto;
  background-color: $footer-color;
  height: 30%;
  color: $main-color;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  & ul {
    list-style: none;
    width: 100%;
  }
  & h4 {
    padding-bottom: 2em;
  }
}

footer:after, .row:after {
 @include clear-fix;
}

.footer-right ul li {
  display: inline-block;
  padding-right: 2em;
}

.footer-left, .footer-mid, .footer-right {
  padding: 2em;
  width: 32%;
  float: left;
  background-color: $footer-color;
  margin-top: 2em;
}

//keep working on media queries to wrap up
// @media screen (min-width: $breakpoint-desktop) {
//   .footer-alt {
//     display: none;
//   }
// }
//
// @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
//   .footer-mid {
//     display: none;
//   }
//   .footer-right {
//     display: none;
//   }
// }
// @media screen and (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
//
// }
