@import 'abstracts/mixins';
@import 'abstracts/variables';

footer {
  width: 100%;
  background-color: $footer-color;
  height: auto;
  color: $main-color;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  & ul {
    list-style: none;
    width: 100%;
  }
  & h4 {
    padding-bottom: 2em;
  }
}

.footer-right ul li {
  display: inline-block;
  padding-right: 2em;
}

.footer-left, .footer-mid, .footer-right {
  padding: 2em;
  width: 32%;
  float: left;
  background-color: $footer-color;
  margin-top: 2em;
}

.footer-left:after, .footer-mid:after, .footer-right:after {
  @include clear-fix;
}
