@import 'abstracts/variables';

.sidebar {
  background-color: $sidebar-color;
  width: $grid-columns;
  height: 70vh;
  float: left;
  color: $main-color;
}

.sidebar:after {
  @include clear-fix;
}

.sidebar ul {
  list-style: none;
  & li {
    padding-left: 8%;
  }
}

.sidebar img {
  width: 50%;
  // position: relative;
  // top: 0;
  // left: 5em;
}
