@import 'abstracts/mixins';
@import 'abstracts/variables';

#nice-form {
  & input[type=text] {
    width: 100%;
    padding: 8px;
    border: 1px solid $main-color;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 2%;
    resize: vertical;
    margin-left: 10px;
  }
}
#nice-form {
  margin-left: 10px;
}
