@import 'abstracts/mixins';
@import 'abstracts/variables';

form {
  & input[type=text] {
    width: 100%;
    padding: 8%;
    border: 1px solid $main-color;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 2%;
    resize: vertical;
  }
}
