@mixin clear-fix {
  content: " ";
  display: block;
  clear: both;
}
@mixin round-borders($some-number) {
  -webkit-border-radius: $some-number;
  -moz-border-radius: $some-number;
  border-radius: $some-number;
}

//
@mixin media($size) {
  @if $size == sm {
    @media #{$breakpoint-sm} { @content; }
  } @else if $size == md {
    @media #{$breakpoint-md} { @content; }
  } @else if $size == lg {
    @media #{$breakpoint-lg} { @content; }
  } 
}
