$grid-columns: 12;
$sidebar-color: #00A7B9;
$footer-color: #2A364E;
$main-color: #F4FAFF;
$font-yellow: #E7E247;
$font-pink: #FE4D55;
$modal-gray: #CDD6DD;
$modal-pink: #CDACA1;

$colors: (
  'sidebar': $sidebar-color,
  'footer': $footer-color,
  'main': $main-color,
  'font-yellow': $font-yellow,
  'font-pink': $font-pink,
  'modal-gray': $modal-gray,
  'modal-pink': $modal-pink
);

$font-small: 16px;
$font-medium: 20px;
$font-large: 30px;

$fonts: (
  'size': $font-small,
  'medium': $font-medium,
  'large': $font-large
);

// $breakpoint-lg: 'screen and (min-width: 1220px)';
// $breakpoint-md: 'screen and (min-width: 768px)';
// $breakpoint-sm: 'screen and (min-width: 1px)';

$breakpoint-desktop: 1220px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 320px;
